@charset "utf-8";
/* CSS Document */
header{
	width:100%; margin:0
}
.container{
	width: 100%; margin:0
}

.menu{
	width:100%; height: auto; background-color:#FFFEFD; margin:5px
}

.menu img{
	width:2%; height:2%; display:block
}

.menu ul{
	list-style: none; display: flex; padding: 0; margin: 0; align-items: center
}

.menu ul li a{
	padding: 0px 60px; text-decoration: none; color:#4A5CFF; font-size: 13px; font-weight: 600; font-family:"Fz Albula Black"
}

.menu ul li:hover{
	background-color: #E184B0; height: 100%; border-radius: 10px; text-align: center; display:block
}

menu ul li a:hover{
	color: white;
}

#slide .owl-dots{position:absolute; bottom:10px; left:45%}
#slide .owl-dots .owl-dot span {
	width: 12px; height: 12px;
}

#slide .owl-nav{position: absolute; left: 0px; top: 50%; width: 100%}
#slide .owl-nav[class*='owl-']{
	font-size: 60px; color: #FFF
		
}

#slide .owl-nav .owl-next{
	position:absolute; right:2%
}
#slide .owl-nav .owl-prev{
	position:absolute; left: 2%
}

#slide .owl-nav [class*='owl-']:hover{
	background: none;
	border: none;
	color:#FB8F90;
	text-decoration: none;
}

banner img{
	width: 100%; display:block;
}

activity h1{
	text-align: center; background-color: #4A5CFF; color: white; height: 50px; padding: 40px 0px; margin:0; display:block}

activity act img{
	width:100%; height: auto; margin:0; display:block
}

[class*="col-"] {
	margin:0; padding:0
}

product{margin:0}
product h1{
	text-align: center; background-color:#E184B0; color: white; height: 50px; padding: 7px; margin:0
}
product act {
	padding:0; margin: 0; background-color:#E184B0; color: white
}

